body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=radio]{
  display: none;
}

input[type=radio]+label{
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width: 90px;
  border: 1px solid #ba3838;
  line-height: 40px;
  padding: 3px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

input[type=radio]+label{
  background-color: #fff;
  color: #ba3838;
}

input[type=radio]:checked+label{
  background-color: #ba3838;
  color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}